<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="MasterListServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
                </binding>
                <binding name="ProductFacetsQHPServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.100.4:6060/ServiceEngine/services/MasterListService" binding="customBinding" bindingConfiguration="MasterListServiceSoapBinding" contract="MasterListServiceReference.MasterListService" name="MasterListServicePort" />
            <endpoint address="http://192.168.100.4:5777/ServiceEngine/services/ProductFacetsQHP20Service" binding="customBinding" bindingConfiguration="ProductFacetsQHPServiceSoapBinding" contract="ProductServiceReference.ProductFacetsQHPService" name="ProductFacetsQHPServicePort" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>