<div class="row">
    <div class="col-md-2">
        <span style="padding-right:20px;font-size:14px;">Select Repeater</span>
    </div>
    <div class="col-md-4">
      <div class="select-wrapper block">
        <select id="drpRepeater" class="section-menu">
            <option value="Select One">Select One</option>
        </select>
    </div>
    </div>
    <div class="col-md-6">
        <button id="btnAdd">Set Keys</button>
    </div>
</div>
<div class="row" id="dvRepeaterCriteria" style="display:none;">
  <div class="grid-wrapper">
    <table id="criteriaGrid"></table>
  </div>
</div>

<div id="selectRepeaterKeysDailog" style="display:none">
  <div class="grid-wrapper">
    <table id="keysGrid"></table>
  </div>
    <button id="btnAddKeys">Add</button>
</div>
