<h5>
    <span style="padding-right:20px">Select Source Document</span>
    <button id="cmdSelectSourceDocument" class="btn-default btn">Select</button>
</h5>
<div id="sourceDocumentDialog" style="display:none">
  <div class="grid-wrapper">
    <table id="docSearch"></table>
  </div>
</div>
<div id="sourceDocument" style="display:none" class="grid-wrapper new-grid-wrapper">
    <div class="basic-grid">
        <table class="table ">
            <thead >
                <tr>
                    <th>Source Document Selected</th>
                    <th id="thSourceDcument"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Account Name</td>
                    <td id="tdAccountName"></td>
                </tr>
                <tr>
                    <td>Folder Name</td>
                    <td id="tdFolderName"></td>
                </tr>
                <tr>
                    <td>Folder Version Number</td>
                    <td id="tdFolderVersionNumber"></td>
                </tr>
                <tr>
                    <td>Effective Date</td>
                    <td id="tdEffectiveDate"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
