<div id="syncDocuments">
    <div id="syncDocumentsDialog" style="display:none">
    </div>
    <div class="">
      <div class="grid-wrapper new-grid-wrapper">
        <table id="syncDocumentsList"></table>
      </div>
    </div>
</div>
