<div id="targetDocuments">
        <div class="">
          <div class="grid-wrapper new-grid-wrapper">
            <table id="targetDocumentList"></table>
        </div>
        </div>
        <div class="" style="margin-top:20px;">
          <div class="grid-wrapper new-grid-wrapper">
            <table id="targetDocumentSelectedList"></table>
          </div>
        </div>
</div>
