<div id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
    <!-- <div style="text-align: center;">
        <h4>Processing...</h4>
    </div>
    <div class="modal-body loading">
    </div>
    <div style="text-align: center;">
        <h6>Please Wait!</h6>
    </div> -->
    <h4 class="text-center">Processing...</h4>
    <div style="text-align: center;">
        <svg class="circle-loader" width="40" height="40" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="15">
        </svg>
    </div>
    <h6 class="text-center">Please Wait!</h6>
</div>

<div id="blockui" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div style="text-align: center;">
        <h4 id="block-message"></h4>
    </div>
    <div class="modal-body validating-icon">
    </div>
    <div style="text-align: center;">
        <h6>Please Wait!</h6>
    </div>
</div>
