@using System.Web.Optimization
@{
    ViewBag.Title = "CCR Integration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/CCRIntergarationBundles");
