@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


    <div class ="container-fluid">
         @RenderBody()
    </div>


@Scripts.Render("~/bundles/ConsortiumBundle")



