@using System.Web.Optimization
@{
    ViewBag.Title = "Dashboard Design";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @RenderBody()
</div>

@* If one wants to perform debugging on JS files. One needs to add setting in App_Start/BundleConfig.cs file
       Refer Notes/Impl-Logging-ExceptionHandling-PerformanceOptimization.txt. *@

@Scripts.Render("~/bundles/DashboardBundle")
@Scripts.Render("~/bundles/DialogBundle")
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
