<div style="display: none;">
    <div id="messagedialog">
        <div>
            <p></p>
        </div>
    </div>
    <div id="productQueuedDialog">
        <div>
            <p></p>
        </div>
    </div>

    <div id="duplicateMessagedialog">
        <div>
            <p></p>
        </div>
    </div>
    <div id="confirmdialog">
        <div>
            <p>Are you sure you want to log off?</p>
        </div>
    </div>
    <div id="extConfirmdialog">
        <div>
            <p>Are you sure you want to log off?</p>
        </div>
    </div>
    <div id="autoSavedialog">
        <div>
            <p>Are you sure you want to log off?</p>
        </div>
    </div>
    <div id="folderLockOverridenDialog">
        <div>
            <p>Unlocked Folder Version!</p>
        </div>
    </div>
    <div id="documentLockOverridenDialog">
        <div>
            <p>Unlocked document!</p>
        </div>
    </div>
    <div id="folderLockDialog">
        <div>
            <p></p>
        </div>
    </div>
    <div id="formInsatanceDialog">
        <div>
            <p></p>
        </div>
    </div>
    <div id="folderVersionPropertiesDialog">

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                <label>Folder Version</label>
            </div>
            <div class="col-xs-4 col-sm-4">
                <label id="folderVersion"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>Category</label>
            </div>
            <div class="col-xs-4">
                <label id="categoryName"></label>
            </div>
            @*<div class="col-xs-4">
                      <label>ID</label>
            </div>*@
            <div class="col-xs-4">
                <label id="categoryID"></label>
            </div>
        </div>

        <div style="margin:2px 2px 10px 2px;">
          <div class="grid-wrapper">
            <table id="folderVersionPropertiesGrid"></table>
        </div>
        </div>
        <div style="margin:2px 2px 10px 2px;">
          <div class="grid-wrapper">
            <table id="copyFromAuditTrailGrid"></table>
        </div>
        </div>
        <div style="margin:2px 2px 10px 2px;">
          <div class="grid-wrapper">
            <table id="facetPropertiesGrid"></table>
        </div>
    </div>
    </div>
    <div id="acceleratedConfirmDialog">
        <div>
            <p></p>
        </div>
    </div>
    <div id="yesNoConfirmDialog">
        <div>
            <p></p>
        </div>
    </div>
    <div id="dwnQueueCnlConfirmDialog">
        <div>
            <p></p>
        </div>
    </div>
    <div style="display: none;">
    <div id="referenceDrodownDialog" style="margin: 10px;word-wrap: break-word;">
       <p> <div class="row" id="referenceDrodownGrid">           
       <table style="width:100%">
        <tr>        
        <td style="width:25%"><label> Benefit Category1 <label></td>
        <td style="width:25%"><select class="form-control"  id='benefitCatdd1'> <option value='0'>Select One </option></select></td>
        <td style="width:25%"><label> Benefit Category2 <label></td>
        <td style="width:25%"><select class="form-control"  id='benefitCatdd2'> <option value='0'>Select One</option></select></td>
        </tr>
        <tr>
        <td style="width:25%"> <label> Benefit Category3 <label></td>
        <td style="width:25%"> <select class="form-control"  id='benefitCatdd3'> <option value='0'>Select One</option></select></td>
        <td style="width:25%"><label> SESEID <label></td>
        <td style="width:25%"><select class="form-control"  id='seseIdreference'> <option value='0'>Select One</option></select></td>
       </tr></table>   
        </div></p> 
    </div>
</div>

    <div style="display: none;">
         <div id="viewTemplateDialogML">
         </div>
    </div>
</div>

