<div id="font-resize" class="pull-right">
    <div class="btn-group" data-toggle="buttons-radio">
        <button id="font-size-incrase-btn" class="btn"><i class="font-size-small glyphicon glyphicon-font"></i><i class="font-size-small glyphicon glyphicon-plus"></i></button>
        <button id="font-size-reset-btn" class="btn active"><i class="font-size-small glyphicon glyphicon-font"></i></button>
        <button id="font-size-decrease-btn" class="btn"><i class="font-size-small glyphicon glyphicon-font"></i><i class="font-size-small glyphicon glyphicon-minus"></i></button>
    </div>
</div>