@using System.Web.Optimization
@{
    ViewBag.Title = "Global Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/GlobalUpdateBundle")

