@using System.Web.Optimization
@{
    ViewBag.Title = "QHP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    @RenderBody()
</div>

<script type="text/javascript" src="~/Scripts/QHPExport/selectTargetDocuments.js"></script>