@using System.Web.Optimization
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/SettingsBundle")

