<style type="text/css">
    .target-container {
        border: 1px solid #ccc;
    }

    #gbox_grdtargetelement {
        margin-top: -5px;
        padding-bottom: 0px;
    }

        #gbox_grdtargetelement .ui-jqgrid-titlebar {
            border-bottom: 1px solid #ccc !important;
        }

    #gview_grdtargetelement .ui-jqgrid-hdiv {
        border-bottom: 0px !important;
    }
</style>
<div class="table-responsive grid-wrapper target-container">
    <table class="table" id="grdtargetelement"></table>
</div>
