<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tmg.equinox.caching.Properties.Caching" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="tmg.equinox.caching.Caching" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="Glav.CacheAdapter.MainConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" /></sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <applicationSettings>
    <tmg.equinox.caching.Properties.Caching>
      <setting name="EnableClaimsCaching" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CacheToUseForClaims" serializeAs="String">
        <value>DataCache</value>
      </setting>
      <setting name="ClaimsExpirationPolicy" serializeAs="String">
        <value>Absolute</value>
      </setting>
      <setting name="DefaultExpirationPolicy" serializeAs="String">
        <value>Sliding</value>
      </setting>
      <setting name="CacheName" serializeAs="String">
        <value>EquinoxCache</value>
      </setting>
    </tmg.equinox.caching.Properties.Caching>
  </applicationSettings>
<appSettings>
<!-- Example Cache setting ovverrides via appSettings -->
<add key="Cache.CacheToUse" value="memory" />
    
<add key="Cache.IsCacheEnabled" value="true" />
    
<add key="Cache.IsCacheDependencyManagementEnabled" value="true" />


    <!-- For memcached if used -->
<add key="Cache.DistributedCacheServers" value="127.0.0.1:11211" />

    <!--ASP.Net web-->
    <!--<add key="Cache.CacheToUse" value="web"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <add key="Cache.DependencyManagerToUse" value="default"/>-->


    <!--memcached-->
    <!--<add key="Cache.CacheToUse" value="memcached"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <add key="Cache.DistributedCacheServers" value="127.0.0.1:11211"/>
    <add key="Cache.CacheSpecificData" value="MinPoolSize=10;MaxPoolSize=30"/>-->

    <!--redis-->
    <!--<add key="Cache.CacheToUse" value="redis"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <add key="Cache.DistributedCacheServers" value="{your-azure-redis-name}.redis.cache.windows.net:6380"/>
    <add key="Cache.DependencyManagerToUse" value="default"/>
    <add key="Cache.CacheSpecificData" value="ssl=true;abortConnect=false;connecttimeout=15000;password={your-azure-redis-access-key}"/>-->

      </appSettings></configuration>