<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="audit" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="eBSDatabase" connectionString="Data Source=192.168.100.41;Initial Catalog=WellCare_DEV;Persist Security Info=True;User ID=sa;Password=sa@123;MultipleActiveResultSets=True;Connection Timeout=180" providerName="System.Data.SqlClient" />
    <add name="UIFrameworkContext" connectionString="Data Source=192.168.100.41;Initial Catalog=WellCare_DEV;Persist Security Info=True;User ID=sa;Password=sa@123;MultipleActiveResultSets=True;Connection Timeout=180" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="JsonData" value="D:\Projects\WellCare\Branches\DEV\tmg.equinox.schema.Base\Template\json1.json"></add>
    <add key="SourceSheetList" value="Individual.xlsx|LG_ABF.xlsx|Small_group_1.xlsx|Small_group_2.xlsx|Small_group_3.xlsx|Small_group_4.xlsx|Small_group_5.xlsx"></add>
    <add key="MappingSheet" value="D:\Anthom\LoadTest\tmg.equinox.etl.tool\Source\Mappings Sheet_0.3_08.29.2017.xlsx"></add>
    <add key="JsonTemplatePath" value="D:\Projects\WellCare\Branches\DEV\tmg.equinox.schema.Base\Template\Design.json"></add>
    <add key="FolderLocation" value="D:\Anthom\LoadTest\tmg.equinox.etl.tool\"></add>
    <add key="LogPath" value="D:\Anthom\LoadTest\tmg.equinox.etl.tool\Data\error.txt"></add>
    <add key="ImagePath" value="D:\Anthom\LoadTest\tmg.equinox.etl.tool\Data\"></add>
    <add key="ServerInstance" value="192.168.100.41"></add>
    <add key="UserName" value="sa"></add>
    <add key="Password" value="sa@123"></add>
    <add key="ReportingDBName" value="test123"></add>
  </appSettings>
  <audit>
    <add key="EnableMethodDurationAudit" value="true" />
    <add key="EnableMethodParametersAudit" value="true" />
    <add key="EnableAuditThroughInterception" value="false" />
    <add key="EnableEntityFrameworkQueryLog" value="false" />
    <add key="AuditQueryLogPath" value="C:\\EquinoxLog\\AuditQueryExecution.txt" />
  </audit>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>