@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (ViewBag.UserRole != null)
    {
        <p>@User.Identity.Name is @ViewBag.UserRole</p>
    }
    else
    {
            <p>No role found for @User.Identity.Name</p>
    }
   
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>