<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnyimMemcached" version="2.11" targetFramework="net45" />
  <package id="EPPlus" version="4.5.2" targetFramework="net45" />
  <package id="Glav.CacheAdapter" version="3.2.1" targetFramework="net45" />
  <package id="Glav.CacheAdapter.Core" version="3.2.1" targetFramework="net45" />
  <package id="Hangfire" version="1.6.14" targetFramework="net452" />
  <package id="Hangfire.Core" version="1.6.14" targetFramework="net452" />
  <package id="Hangfire.SqlServer" version="1.6.14" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
  <package id="NLog" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Extended" version="4.0.0.1" targetFramework="net45" />
  <package id="NLog.Web" version="4.5.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="ServerAppFabric.Client" version="1.1.2106" targetFramework="net45" />
  <package id="tmg.equinox.core" version="1.0.1" targetFramework="net45" />
  <package id="Topshelf" version="3.3.1" targetFramework="net45" />
</packages>