<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="kentor.authServices" type="Kentor.AuthServices.Configuration.KentorAuthServicesSection, Kentor.AuthServices" />
    <section name="restAPISection" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" requirePermission="true" />
    <section name="authenticationSection" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="owinAuthentication" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="audit" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="security" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="true" />
    <section name="cache" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="true" />
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
    <section name="qhp" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="true" />

    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
      <section name="uglify" type="BundleTransformer.UglifyJs.Configuration.UglifySettings, BundleTransformer.UglifyJs" />
    </sectionGroup>
    <sectionGroup name="jsEngineSwitcher">
      <section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
      <section name="msie" type="JavaScriptEngineSwitcher.Msie.Configuration.MsieConfiguration, JavaScriptEngineSwitcher.Msie" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Glav.CacheAdapter.MainConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <kentor.authServices entityId="http://localhost:8688/" returnUrl="http://localhost:8688/">
    <identityProviders>
      <add entityId="http://stubidp.kentor.se/Metadata" signOnUrl="http://stubidp.kentor.se/" allowUnsolicitedAuthnResponse="true" binding="HttpPost">
        <signingCertificate fileName="~/App_Data/StubIdp.cer" />
      </add>
    </identityProviders>
    <!--<serviceCertificates>
    <add fileName="~/App_Data/Kentor.AuthServices.Tests.pfx" />
  </serviceCertificates>-->
  </kentor.authServices>
  <restAPISection>
    <!--<add key="url" value="http://localhost:55652/api/v1/Account/{accountID}/folder/{folderName}/Document/{docID}" />-->
    <add key="url" value="http://cbc-sf-api-test.simplifyhealthcare.com/api/v1/Account/{accountID}/folder/{folderName}/Document/{docID}" />
    <add key="ClientId" value="Client Id" />
    <add key="ClientSecret" value="Client Secret" />
  </restAPISection>
  <system.identityModel>
    <identityConfiguration>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <audienceUris mode="Never"></audienceUris>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" name="AuthCookieSAML" />
    </federationConfiguration>
  </system.identityModel.services>

  <dataCacheClient>
    <!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="1000" ttlValue="600"/>-->
    <hosts>
      <host name="TMGDESK037" cachePort="22233" />
    </hosts>
    <!--<securityProperties mode="None" protectionLevel="None" />
		<transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456"
                       maxBufferSize="8388608" maxOutputDelay="2" channelInitializationTimeout="60000"
                       receiveTimeout="600000"/>-->
  </dataCacheClient>
  <audit>
    <add key="EnableMethodDurationAudit" value="true" />
    <add key="EnableMethodParametersAudit" value="true" />
    <add key="EnableAuditThroughInterception" value="false" />
    <add key="EnableEntityFrameworkQueryLog" value="false" />
    <add key="AuditQueryLogPath" value="C:\\EquinoxLog\\AuditQueryExecution.txt" />
  </audit>
  <!--<authenticationSection UseAuthentication="true" DummyAuthenticationEnabled="false" LandingPage="FormDesign/Index" UserName="mreimann" UseOwinAuthentication="true"/>-->
  <authenticationSection>
    <add key="UseAuthentication" value="true" />
    <add key="DummyAuthenticationEnabled" value="false" />
    <add key="LandingPage" value="FormDesign/Index" />
    <add key="UserName" value="mreimann" />
    <add key="UseOwinAuthentication" value="true" />
  </authenticationSection>
  <owinAuthentication>
    <add key="AutoSaveTimeOut" value="46" />
    <add key="TimeOut" value="720" />
    <add key="SlidingExpiration" value="true" />
    <add key="LoginUrl" value="/Account/LogOn" />
    <add key="CookieName" value=".OWINApplication" />
    <add key="CookieSecure" value="SameAsRequest" />
  </owinAuthentication>
  <qhp>
    <add key="QhpXMLAppDataPath" value="App_Data\QHP\" />
    <add key="QhpStaging" value="Staging\" />
    <add key="QhpExceptionFileName" value="QhpMappingExceptions" />
    <add key="DeleteQhpMappingExceptionFiles" value="true" />
    <add key="QhpXSDFileName" value="QHPTemplate.xsd" />
    <add key="QhpXmlFileExt" value=".xml" />
    <add key="QhpTargetNameSpace" value="http://vo.ffe.cms.hhs.gov" />
  </qhp>
  <connectionStrings>
    <add name="UIFrameworkContext" connectionString="Data Source=.;initial catalog=eMSIntegrated_CFG;Persist Security Info=True;user id=sa;password=sa@123;MultipleActiveResultSets=True;Connection Timeout=180" providerName="System.Data.SqlClient" />
    <add name="PBPContext" connectionString="Data Source=.;initial catalog=eMSIntegrated_CFG;Persist Security Info=True;user id=sa;password=sa@123;MultipleActiveResultSets=True;Connection Timeout=180" providerName="System.Data.SqlClient" />
    <add name="ReportingCenterContext" connectionString="Data Source=.;initial catalog=eMSIntegrated_CFG;Persist Security Info=True;user id=sa;password=sa@123;MultipleActiveResultSets=True;Connection Timeout=180" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="FormAuthTicketVersion" value="1" />
    <add key="FormAuthTicketIsPersistent" value="false" />
    <add key="TransactionTimeOutSpan" value="5" />
    <add key="EnableELMAH" value="true" />
    <add key="EnableLogToTextFile" value="false" />
    <add key="ErrorPageMailID" value="mailto:support@themostgroup.com" />
    <add key="EnableShowError" value="true" />
    <add key="SBCReportURL" value="~/Report/SBCReport.aspx?accountId&amp;formInstanceId&amp;tenantId&amp;adminFormInstanceId" />
    <add key="FormInstancePdfReportScheme" value="http" />
    <add key="FormInstancePdfReportHost" value="localhost" />
    <add key="FormInstancePdfReportPort" value="8338" />
    <add key="reportFormDesignID" value="2" />
    <add key="FormInstancePdfReportUrl" value="/FolderVersion/PreviewFormInstance?&amp;formInstanceId=&amp;formDesignVersionId=&amp;folderVersionId=&amp;formName=&amp;accountName=&amp;folderName=&amp;folderVersionNumber=&amp;effectiveDate=&amp;templateId=&amp;roleID=" />
    <add key="FolderInstancePdfReportUrl" value="/FolderVersion/PreviewAllInstances?&amp;folderVersionId=&amp;folderId=&amp;tenantId=&amp;accountName=&amp;folderName=&amp;folderVersionNumber=&amp;effectiveDate=&amp;roleID=" />
    <add key="EnableCachingLogToAuditFile" value="false" />
    <add key="TranslatorEXEPath" value="E:\Equinox\CBCIntegration_5998\Translator\tmg.equinox.integration.translator.exe" />
    <add key="TransmitterEXEPath" value="E:\Equinox\CBCIntegration_5998\Transmitter\tmg.equinox.integration.transmitter.exe" />
    <add key="ErrorlogPath" value="E:\\Equinox\\CBCIntegration_5998\\Error.Log" />
    <add key="FormDesignID" value="3" />
    <add key="SchedulerUserName" value="TMG\equinoxtest" />
    <add key="SchedulerUserPwd" value="Test@123" />
    <add key="OutputFileURL" value="http://192.168.100.4:6000/" />
    <add key="DestinationDBName" value="FacetDB" />
    <add key="DestinationUserId" value="ebs" />
    <add key="DestinationPassword" value="EBenefit@123" />
    <add key="Plugin" value="Facets" />
    <add key="Version" value="5.2" />
    <!-- Server Side Caching Settings-->
    <!-- Example Cache setting ovverrides via appSettings --><add key="Cache.CacheToUse" value="memory" />
    <add key="Cache.IsCacheEnabled" value="true" />
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <!-- For memcached if used --><add key="Cache.DistributedCacheServers" value="127.0.0.1:11211" />
    <!-- Validation Settings -->
    <add key="MaxAllowedErrorListCount" value="200" />
    <!--<add key="Environment" value="TMG : SIT 1"/>
    <add key="Environment" value="TMG : SIT 2"/>
    <add key="Environment" value="HSB : QA"/>
    <add key="Environment" value="HSB : Production"/>-->
    <add key="Environment" value="TMG : Development" />
    <add key="Grid.UseJQGrid" value="false" />
    <!--Email Notification-->
    <add key="SmtpUserName" value="HelpDesk@themostgroup.com" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpHostServerName" value="192.168.100.3" />
    <add key="SendGridUserName" value="azure_5585f69b22c4d3d07a0c425257b26429@azure.com" />
    <add key="SendGridPassword" value="Pt6ivYdxt0INr4m" />
    <add key="DefaultPassword" value="123" />
    <add key="UseBMReportAutoWidth" value="true" />
    <add key="UseSBCeportAutoWidth" value="true" />
    <add key="ReferenceFormVersionId" value="8" />
    <add key="CheckInitialPassword" value="false" />
    <add key="EnableDataCompression" value="true" />
    <add key="MasterListEffectiveDate" value="01/01/2014" />
    <add key="MLTransmitterExePath" value="D:\Equinox\FacetsMasterListTransmitter-6002\tmg.equinox.integration.masterlisttransmitter.exe" />
    <add key="ServiceDesignDataType" value="XML" />
    <add key="FacetsComponentCacheExpiration" value="240" />
    <!--Global Update Configuration-->
    <add key="RealTimeThreshold" value="10" />
    <add key="RollBackHrs" value="10" />
    <add key="AuditReportFilePath" value="D:\GlobalUpdate\AuditReport\" />
    <add key="IASFilePath" value="D:\GlobalUpdate\IAS\" />
    <add key="ErrorLogFilePath" value="D:\GlobalUpdate\IAS\ErrorLog\" />
    <!--ML Facet Translation & Transmission Configurtion-->
    <add key="MaxFacetVersion" value="530" />
    <add key="CurrentFacetVersion" value="530" />
    <add key="CollateralFolderPath" value="D:\CollateralEngine\" />
    <add key="CollateralOption" value="GemBox" />
    <!-- Facets Client Environment flag pick PDBC_PFX values, Default is Oracle else Sybase-->
    <add key="ClientFacetsConnection" value="Sybase" />
    <!-- Folder Validation Timeout-->
    <add key="FolderStatusPaneTimeout" value="2880" />
    <add key="SSOEnvironment" value="eBenefitSyncNonPROD" />
    <add key="ParallelProcess" value="true" />
    <add key="AuditPackagePath" value="~\App_Data\AuditPackage\Files\" />
    <add key="AuditPackageBackgroundProcessing" value="true" />
    <add key="RetroSyncBackgroundProcessing" value="true" />
    <add key="MacroToCache" value="Yes" />
    <add key="FacetsCompareOption" value="V2" />
    <add key="EnableHangfire" value="true" />
    <!-- CallbackTrigger values should be "DocLevel", "FolderLevel" or "Both"-->
    <add key="CallbackTrigger" value="Both" />
    <!-- UnlockFolderOption values should be "Folder" or "BatchID"-->
    <add key="UnlockFolderOption" value="Folder" />
    <add key="CallbackInterval" value="1" />
    <add key="CallbackDeleteFlag" value="true" />
    <add key="EnableWebAPILog" value="true" />
  <!--ASP.Net web--><!--<add key="Cache.CacheToUse" value="web"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <add key="Cache.DependencyManagerToUse" value="default"/>--><!--memcached--><!--<add key="Cache.CacheToUse" value="memcached"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <add key="Cache.DistributedCacheServers" value="127.0.0.1:11211"/>
    <add key="Cache.CacheSpecificData" value="MinPoolSize=10;MaxPoolSize=30"/>--><!--redis--><!--<add key="Cache.CacheToUse" value="redis"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <add key="Cache.DistributedCacheServers" value="{your-azure-redis-name}.redis.cache.windows.net:6380"/>
    <add key="Cache.DependencyManagerToUse" value="default"/>
    <add key="Cache.CacheSpecificData" value="ssl=true;abortConnect=false;connecttimeout=15000;password={your-azure-redis-access-key}"/>--></appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="DonutCachingHeader" duration="1200" varyByParam="userid" />
          <add name="DonutCachingFooter" duration="1200" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" relaxedUrlToFileSystemMapping="true" maxRequestLength="100000000" />
    <authentication mode="Forms">
      <!-- TODO: Set requireSSL to true for production -->
      <forms requireSSL="false" loginUrl="~/Account/LogOn" name=".ASPXFORMSAUTH" slidingExpiration="true" protection="All" timeout="720" />
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error">
      <error redirect="~/Error/Index" statusCode="500" />
      <error redirect="~/Error/PageNotFound" statusCode="404" />
    </customErrors>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="FormsAuthentication" />-->

      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </modules>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <remove value="Default.htm" />
        <remove value="Default.asp" />
        <remove value="index.htm" />
        <remove value="index.html" />
        <remove value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <loggingConfiguration configSource="Config\\LoggingConfiguration.config" />
  <exceptionHandling configSource="Config\\ExceptionHandling.config" />
  <cache configSource="Config\\Cache.config" />
  <security configSource="Config\\Security.config" />
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="1" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="UIFrameworkContext" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.2.1" newVersion="4.5.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <js defaultMinifier="UglifyJsMinifier" usePreMinifiedFiles="true">
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="UglifyJsMinifier" type="BundleTransformer.UglifyJs.Minifiers.UglifyJsMinifier, BundleTransformer.UglifyJs" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
    <uglify>
      <js screwIe8="false" severity="0">
        <parsing strict="false" />
        <compression compress="true" sequences="true" propertiesDotNotation="true" deadCode="true" dropDebugger="true" unsafe="false" conditionals="true" comparisons="true" evaluate="true" booleans="true" loops="true" unused="true" hoistFunctions="true" keepFunctionArgs="false" hoistVars="false" ifReturn="true" joinVars="true" cascade="true" globalDefinitions="" pureGetters="false" pureFunctions="" dropConsole="false" angular="false" />
        <mangling mangle="true" except="" eval="false" sort="false" topLevel="false" />
        <codeGeneration beautify="false" indentLevel="4" indentStart="0" quoteKeys="false" spaceColon="true" asciiOnly="false" inlineScript="false" width="80" maxLineLength="32000" bracketize="false" semicolons="true" comments="false" preserveLine="false" unescapeRegexps="false" />
      </js>
      <jsEngine name="MsieJsEngine" />
    </uglify>

  </bundleTransformer>
  <jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd">
    <core>
      <engines>
        <add name="MsieJsEngine" type="JavaScriptEngineSwitcher.Msie.MsieJsEngine, JavaScriptEngineSwitcher.Msie" />
        <add name="V8JsEngine" type="JavaScriptEngineSwitcher.V8.V8JsEngine, JavaScriptEngineSwitcher.V8" />
      </engines>
    </core>
    <msie engineMode="Auto" />
  </jsEngineSwitcher>
  <applicationSettings>
    <Glav.CacheAdapter.MainConfig>
      <!-- Use Memory, Web, AppFabric, or memcached -->
      <setting name="CacheToUse" serializeAs="String">
        <value>Memory</value>
      </setting>
      <setting name="DistributedCacheServers" serializeAs="String">
        <value>localhost:22223</value>
      </setting>
      <setting name="DistributedCacheName" serializeAs="String">
        <value>MyCache</value>
      </setting>
      <!--The data config below is specific to Azure AppFabric only at this time but can be used to supply data to any cache implementation-->
      <setting name="CacheSpecificData" serializeAs="String">
        <value>UseSsl=false;SecurityMode=Message;MessageSecurityAuthorizationInfo=your_secure_key_from_azure_dashboard</value>
      </setting>
      <setting name="IsCacheEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Glav.CacheAdapter.MainConfig>
  </applicationSettings>
</configuration>