<div class="navbar-bottom">
    <div class="row-fluid">
        <div class="col-xs-12 copyrights" style="font-size: 11px; text-align: center;">
            &copy; Copyright @DateTime.Now.Year Simplify Healthcare Technology, All Rights Reserved. 
        </div>
    </div>
    <div style="clear: both"></div>
</div>

@*        <div class="col-xs-3 copyrights" style="float: left; font-size: 11px;display:none;">
            <p style="float: left;">Powered by</p>
            <div class="tmg-logo" style="float: left; ">
                <img src="@Url.Content("~/Content/css/custom-theme/images/tmg-logo.png")" title="The Most Group Inc." alt="The Most Group Inc." style="width: 60%; float: left;" />
            </div>
            <div style="clear: both;">
            </div>
        </div>*@



