@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="container">
    <div class="login-container">
        <div class="text-center client-logo"> 
            <a href="~/">         
                 <img src="~/Content/css/custom-theme/images/ebenefitsync-logo.png" title="@ViewBag.ApplicationName" alt="@ViewBag.ApplicationName" />
                <label>@ViewBag.ApplicationName</label>
            </a>
         </div>
        <p class="text-center">
            You have been logged off from the application
        </p>
    </div>
</div>