<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
  <package id="tmg.equinox.core" version="1.0.1" targetFramework="net45" />
</packages>