@{
    ViewBag.Title = "On Demeand Migration";
    Layout = "~/Views/Shared/PBPImportLayout.cshtml";
}

<style>
    .timer {
        font: 200 12px/20px "Yantramanav", sans-serif !important;
        text-align: right;
        color: #69aa8e;
    }

    #pselectPlanGrid_right, #pmisMatchGrid_right, #pselectPBPSectionGrid_right,
    #pselectSOTSectionGrid_right, #pmigrationQueueGrid_right, #first_pselectPlanGrid, #last_pselectPlanGrid,
    #first_pmisMatchGrid, #last_pmisMatchGrid, #first_pselectPBPSectionGrid, #last_pselectPBPSectionGrid,
    #first_pselectSOTSectionGrid, #last_pselectSOTSectionGrid, #first_pmigrationQueueGrid, #last_pmigrationQueueGrid,
    #pselectPlanGrid_center td:nth-child(3), #pselectPlanGrid_center td:nth-child(5),
    #pmisMatchGrid_center td:nth-child(3), #pmisMatchGrid_center td:nth-child(5),
    #pselectPBPSectionGrid_center td:nth-child(3), #pselectPBPSectionGrid_center td:nth-child(5),
    #pselectSOTSectionGrid_center td:nth-child(3), #pselectSOTSectionGrid_center td:nth-child(5),
    #pmigrationQueueGrid_center td:nth-child(3), #pmigrationQueueGrid_center td:nth-child(5) {
        display: none !important;
    }
</style>

<div class="lead-wrap clearfix">
    <div class="pull-left">
        <h1 class="title">PBP Integration</h1>
    </div>
    <div class="col-xs-12">
        <div class="timer">
            <span>
                <b>Auto-Refresh in</b>
            </span>
            <span id="spnTimer">
                <b>30 seconds.</b>
            </span>
        </div>
    </div>
</div>
<div class="tablelist-wrapper">
    <ul class="nav nav-pills">
        <li>
            <a href="~/PBPImport/PBPDataBase">Manage PBP Database</a>
        </li>
        <li>
            <a href="~/PBPImport/Index">PBP Import</a>
        </li>
        <li>
            <a href="~/PBPExport/Index">PBP Export</a>
        </li>
        <li class="active">
            <a href="~/ODM/ODM">ODM</a>
        </li>
        <li>
            <a href="~/MDBComparer/MDBComparer">MDB Comparer</a>
        </li>
        <li>
            <a href="~/ExitValidate/ExitValidate">Exit Validate</a>
        </li>
    </ul>
</div>
<div id="odmTab" class="parent-container ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="nav nav-pills nav-pills-child border-none" role="tablist">
        <li class="active"><a href="#odmTab-1" role="tab" data-toggle="tab">1. Select Plan</a></li>
        <li><a href="#odmTab-2" role="tab" data-toggle="tab">2. Select Section</a></li>
        <li><a href="#odmTab-3" role="tab" data-toggle="tab">3. Migration Queue</a></li>
    </ul>
    <div role="tabpanel" class="tab-content">
        <div id="odmTab-1" class="tab-pane active">

            <div class="panel panel-default ">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <button id="btnUploadMDBFile" class="btn pull-left" type="button">Upload MDB File</button>

                            <div class='col-xs-6 col-md-6 col-lg-6 col-sm-6'>
                                <label for="originalFileName"><b>File Name: </b></label>
                                <input id="fileName" type="hidden" />
                                <span class="staticLabel" id="originalFileName"</span>
                            </div>
                            <div class='col-xs-4 col-md-4 col-lg-4 col-sm-4'>
                                <label for="descriptionToDispaly"><b>Description: </b></label>
                                <span class="staticLabel" id="descriptionToDisplay"</span>
                            </div>

                            <div class='col-xs-2 col-md-2 col-lg-2 col-sm-2'>
                                <label for="yearToDisplay"><b>Year: </b></label>
                                <span class="staticLabel" id="yearToDisplay"</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-8 col-md-8 col-lg-8 col-sm-8">
                                <div class="grid-wrapper left-sidebar">
                                    <table id="selectPlanGrid"></table>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 col-lg-4 col-sm-4">
                                <div class="grid-wrapper right-sidebar">
                                    <table id="misMatchGrid"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="uploadMDBDialog" style="display: none">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="description"><b>Description: </b></label>
                                </div>
                                <div class="col-sm-8">
                                    <input id="description" type="text" class="form-control" name="description" maxlength="150" />
                                </div>
                            </div>
                            <div style="margin-top:10px;"></div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="uploadMDBFile"><b>File Name: </b></label><em>*</em>
                                </div>
                                <div class="col-sm-8">
                                    <input id="UploadMDBFileName" name="UploadMDBFileName" class="form-control uploadTmplFile" type="file" />
                                    <span class="help-block" id="UploadMDBFileNameSpan" style="color:red"></span>
                                </div>
                            </div>
                        </div>
                        <button id="btnMDBUpload" type="button" class="btn pull-right">Upload</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="odmTab-2" class="tab-pane">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                        </div>
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-4">
                            <input type="checkbox" id="chkBeforeBaseline" checked/>
                            <label for="chkBeforeBaseline">Before Baseline</label>
                            <input type="checkbox" id="chkAfterBaseline" />
                            <label for="chkAfterBaseline">After Baseline</label>
                            <input type="checkbox" id="chkRunManualUpdateOnly"  checked/>
                            <label for="chkRunManualUpdateOnly">Run Manual Update Only</label>
                            
                        </div>
                        <div class="col-xs-3">

                            <button id="btnStartMigration" class="btn pull-right" type="button">Start Migration</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
                                <div class="grid-wrapper left-sidebar">
                                    <table id="selectPBPSectionGrid"></table>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
                                <div class="grid-wrapper right-sidebar">
                                    <table id="selectSOTSectionGrid"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="odmTab-3" class="tab-pane">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="grid-wrapper">
                                <table id="migrationQueueGrid"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var matchgrid = new odm();
    });
    var claims = @Html.Raw(Json.Encode(@ViewBag.Claims));
    var vbRole = @Html.Raw(Json.Encode(ViewBag.RoleId));

</script>