@{
    ViewBag.Title = "View Queued Collaterals";
    Layout = "~/Views/Shared/ReportDesignLayout.cshtml";

}

<style>
    .timer {
        font: 200 12px/20px "Yantramanav", sans-serif !important;
        text-align: right;
        color: #69aa8e;
    }
</style>
<div class="lead-wrap clearfix">
    <div class="pull-left">
        <h1 class="title">Queued Collateral</h1>
    </div>
</div>
<div class="tablelist-wrapper">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="~/DocumentCollateral/ViewQueuedCollaterals">Collateral Engine</a>
        </li>
    </ul>
</div>
<ul class="nav nav-pills nav-pills-child">
    <li><a href="~/DocumentCollateral/ViewReportTemplate">Create Collateral Template</a></li>
    <li><a href="~/DocumentCollateral/GenerateReports">Generate Collateral</a></li>
    <li class="active"><a href="~/DocumentCollateral/ViewQueuedCollaterals">Queued Collateral</a></li>
    <li><a href="~/DocumentCollateral/UserActivity">User Activity</a></li>
    <li><a href="~/DocumentCollateral/CollateralImages">Collateral Images</a></li>
    <li><a href="~/DocumentCollateral/ViewUploadedCollaterals">Uploaded Collateral log</a></li>
</ul>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="grid-wrapper">
                  <!-- <div class="grid-page-wrapper">
                    List Of Items
                  </div> -->
                    <div id="complianceErrorDialog" style="display: none">
                        <div class="grid-wrapper">
                            <div id="viewErrors" style="height: 300px;" class="ag-theme-fresh"></div>
                        </div>
                    </div>
                <table id="queuedCollateralsGrid"></table>
                </div>
                <div id="pager"></div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
<div id="WordUploadPrintX">
    <div class="row">
        <div class="col-sm-4">
            <label for="uploadimportMLFile"><b>Upload a template: </b></label><em>*</em>
        </div>
        <div class="col-sm-6">
            <input id="UploadMLFileName" name="UploadMLFileName" class="form-control uploadTmplFile" type="file" style="background-color: white;" />
            <span class="help-block" id="UploadMLFileNameSpan" style="color:red"></span>
            <label id="pdffileuploadwerror" style="color:red; font-family:'Times New Roman';"></label>
        </div>
        <div class="col-sm-2">
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
            <button id="btnWordFile" type="button">Upload</button>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        var queuedCollaterals = new viewQueuedCollaterals();
    });
   

    var claims = @Html.Raw(Json.Encode(@ViewBag.Claims));  
    var roleId = @Html.Raw(Json.Encode(@ViewBag.RoleId)); 
</script>




