<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="tmg.equinox.caching.client.Properties.Caching" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="tmg.equinox.caching.Properties.Caching" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="tmg.equinox.caching.Caching" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="tmg.equinox.caching.client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <applicationSettings>
    <tmg.equinox.caching.client.Properties.Caching>
      <setting name="ClaimsCacheEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClaimsExpirationEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CacheForClaims" serializeAs="String">
        <value>appfabric</value>
      </setting>
      <setting name="DefaultExpirationPolicy" serializeAs="String">
        <value>sliding</value>
      </setting>
      <setting name="ClaimsCacheExpirationTimeout" serializeAs="String">
        <value>00:20:00</value>
      </setting>
      <setting name="AppfabricCacheName" serializeAs="String">
        <value>EquinoxCache</value>
      </setting>
    </tmg.equinox.caching.client.Properties.Caching>
    <tmg.equinox.caching.Properties.Caching>
      <setting name="EnableClaimsCaching" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CacheToUseForClaims" serializeAs="String">
        <value>DataCache</value>
      </setting>
      <setting name="ClaimsExpirationPolicy" serializeAs="String">
        <value>Absolute</value>
      </setting>
      <setting name="DefaultExpirationPolicy" serializeAs="String">
        <value>Sliding</value>
      </setting>
      <setting name="CacheName" serializeAs="String">
        <value>EquinoxCache</value>
      </setting>
    </tmg.equinox.caching.Properties.Caching>
  </applicationSettings>
  <userSettings>
    <tmg.equinox.caching.client.Properties.Settings>
      <setting name="ClaimsCacheEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClaimsExpirationEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CacheForClaims" serializeAs="String">
        <value>appfabric </value>
      </setting>
      <setting name="DefaultExpirationPolicy" serializeAs="String">
        <value>sliding</value>
      </setting>
      <setting name="ClaimsCacheExpirationTimeout" serializeAs="String">
        <value>00:20:00</value>
      </setting>
      <setting name="AppfabricCacheName" serializeAs="String">
        <value>EquinoxCache</value>
      </setting>
    </tmg.equinox.caching.client.Properties.Settings>
  </userSettings>
</configuration>